.btom-stick {
  background-color: $primary-color;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 54px;
  z-index: 1029;
  & > div {
    display: flex;
    align-items: center;
    & > h6 {
      color: #fff;
      margin: 0;
      font-weight: 700;
    }
  }
  .bt-stk-btn {
    background-color: #fff;
    border-radius: 0;
    margin-left: auto;
  }
}

@include lg {
  .mob-only-dis {
    display: none;
  }
}

@include sm {
  .mob-only-dis {
    display: block;
  }
  .btom-stick {
    .desk-only-dis {
      display: none;
    }
    .bt-stk-btn {
      display: none;
    }
    & > div {
      height: 100%;
      & > h6 {
        text-align: center;
        width: 100%;
      }
    }
  }
}
