.comptroller-page-wrapper {
  color: #383c41;
  .header-container {
    display: flex;
    height: 75px;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid $border-color;
    .search-input {
      height: 100%;
      flex: 1;
      padding: 0 30px;
      font-size: 16px;
      border-right: 1px solid $border-color;
      border-left: 1px solid $border-color;
      margin: 0 30px;
    }
    .active-category {
      width: 180px;
      font-weight: 700;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      .active-category-icon {
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }
      @include hover-zoom(1.1);
    }
    .add-button-container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 30px;
      margin-right: 30px;
      border-right: 1px solid $border-color;
    }
    .add-icon {
      height: 25px;
      width: 25px;
      @include hover-zoom(1.1);
    }
    .settings-button {
      height: 25px;
      width: 25px;
      @include hover-zoom(1.1);
    }
  }
  .comptroller-list-container {
    flex-grow: 1;
    height: 0;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 30px 35px;
    .empty-text {
      text-align: center;
      width: 100%;
      font-weight: 600;
      font-size: 25px;
      margin-top: 40px;
    }
    .comptroller-item {
      width: 20%;
      height: 250px;
      padding: 20px 25px;
      display: flex;
      flex-direction: column;
      position: relative;
      &.show-edit {
        .edit-button {
          display: flex;
          position: absolute;
          top: 0;
          right: 0;
          border: 1px solid #e7e7e7;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          padding: 5px;
          @include hover-zoom(1.2);
          .edit-icon {
            width: 100%;
            height: 100%;
          }
        }
      }
      .edit-button {
        display: none;
      }
      .item-value {
        width: 100%;
        flex-grow: 1;
        border: 1px solid $border-color;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 600;
        font-size: 32px;
      }
      .comptroller-img {
        width: 100%;
        flex-grow: 1;
        object-fit: cover;
        border: 1px solid $border-color;
      }
      .item-name {
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        margin-top: 10px;
      }
      .item-created-by {
        text-align: center;
        font-weight: 300;
        font-size: 11px;
      }
    }
    .comptroller-plan-item {
      width: 100%;
      display: flex;
      align-items: center;
      border: 1px solid $border-color;
      color: #383c41;
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 25px;
      position: relative;
      @include hover-zoom(1.02);
      .comptroller-img {
        width: 150px;
        height: 150px;
      }
      .product-details {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: 20px;
        @include hover-zoom(1.08);
        .item-name {
          font-weight: 700;
          font-size: 21px;
        }
        .item-id {
          font-weight: 300;
          font-size: 12px;
        }
      }
      .app-details {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        @include hover-zoom(1.08);
        .app-icon {
          width: 22px;
          height: 22px;
          margin-right: 10px;
        }
        .app-name {
          font-weight: 700;
          font-size: 18px;
        }
      }
      .chain-name {
        font-weight: 300;
        font-size: 18px;
        flex: 1;
        text-align: end;
        padding-right: 30px;
        text-transform: capitalize;
      }
      .edit-button {
        display: flex;
        position: absolute;
        top: -10px;
        right: -10px;
        border: 1px solid #e7e7e7;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        padding: 5px;
        background-color: white;
        @include hover-zoom(1.2);
        .edit-icon {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.comptroller-category-popup {
  display: flex;
  flex-direction: column;
  padding: 40px 40px;
  .header-icon {
    height: 60px;
  }
  .categories-list {
    display: flex;
    margin-top: 80px;
    margin-bottom: 50px;
    .category-item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      @include hover-zoom(1.1);
      &.active {
        transform: none;
        .category-name {
          font-weight: 700;
        }
      }
      .category-icon-container {
        background: #ffffff;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        width: 120px;
        height: 120px;
        display: flex;
        padding: 25px;
        border-radius: 50%;
        .category-icon {
          width: 100%;
          height: 100%;
        }
      }
      .category-name {
        text-align: center;
        margin-top: 10px;
      }
    }
  }
}

.comp-market-settings {
  color: #383c41;
  .header-container {
    background-color: #ffffff;
    padding: 20px 60px;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    .header-image {
      height: 45px;
    }
    .header-name {
      margin-left: 15px;
      color: #383c41;
      font-size: 25px;
    }
    .switch-container {
      margin-left: auto;
      display: flex;
      align-items: center;
      span {
        color: #383c41;
        font-size: 11px;
        margin: 0 10px;
      }
    }
  }
  .settings-container {
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    .settings-title {
      font-weight: 700;
      font-size: 32px;
    }
    .bread-crumbs-container {
      display: flex;
      .bread-crumb-item {
        margin-right: 5px;
        font-weight: 700;
        display: flex;
        align-items: center;
        .item-name {
          text-decoration: underline;
          @include hover-zoom(1.05);
        }
        .arrow {
          font-weight: normal;
          transform: none;
          text-decoration: none;
          margin-left: 5px;
        }
        &:last-child {
          .item-name {
            font-weight: normal;
            text-decoration: none;
          }
          .arrow {
            display: none;
          }
        }
        &:first-child {
          .arrow {
            display: block;
          }
        }
      }
    }
    .search-container {
      border: 1px solid $border-color;
      height: 60px;
      margin-top: 30px;
      .search-input {
        width: 100%;
        height: 100%;
        padding: 0 25px;
        font-size: 13px;
      }
    }
    .list-container {
      flex-grow: 1;
      height: 0;
      overflow-y: auto;
      overflow-x: hidden;
      margin: 0 -40px;
      padding: 0 40px;
      margin-top: 30px;
      .option-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $border-color;
        padding: 30px 25px;
        margin-bottom: 20px;
        @include hover-zoom(1.03);
        .option-title {
          font-weight: 700;
          font-size: 20px;
        }
        .option-sub-title {
          font-weight: 400;
          font-size: 12px;
        }
      }
      .list-item {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        @include hover-zoom(1.03);
        &.active {
          .item-name {
            font-weight: 700;
          }
        }
        .item-icon {
          width: 35px;
          height: 35px;
        }
        .item-name {
          margin-left: 15px;
          font-size: 17px;
        }
      }
    }
  }
  .action-container {
    display: flex;
    border-top: 1px solid $border-color;
    overflow: hidden;
    .action-item {
      flex: 1;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #383c41;
      background-color: white;
      font-weight: 700;
      font-size: 18px;
      @include hover-zoom(1.05);
      &.primary {
        color: white;
        background-color: #383c41;
      }
    }
  }
}

.add-comp-market-modal {
  display: flex;
  flex-direction: column;
  color: #383c41;
  position: relative;
  .loading-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tabs-container {
    display: flex;
    overflow-x: auto;
    height: 65px;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    .tab-item {
      flex: 0 0 175px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $border-color;
      opacity: 0.3;
      font-weight: 600;
      font-size: 14px;
      @include hover-zoom(1.1);
      &.active {
        font-weight: 700;
        opacity: 1;
        border-bottom-width: 2;
        border-bottom-color: #383c41;
        font-size: 16px;
        transform: none;
      }
    }
  }

  .popup-fragment-container {
    height: 650px;
    display: flex;
    flex-direction: column;
  }
  .add-form-container {
    flex-grow: 1;
    height: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    position: relative;
    .delete-success-message {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-weight: 700;
      font-size: 20px;
      padding: 60px;
    }
    .delete-container {
      flex: 1;
      display: flex;
      align-items: center;
      .delete-message {
        font-weight: 600;
        font-size: 14px;
      }
      .delete-button {
        margin-left: auto;
        border: 1px solid #383c41;
        padding: 10px 35px;
        font-size: 14px;
        font-weight: 700;
        @include hover-zoom(1.1);
      }
    }
    .image-item {
      flex: 0 0 150px;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid $border-color;
      background-image: url(../images/upload-cloud-icon.svg);
      background-position: center;
      background-repeat: no-repeat;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
      // overflow: hidden;
      .drag-input {
        width: 100%;
        height: 100%;
        opacity: 0;
      }
      .image-preview {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
      .loading-text {
        text-align: center;
        font-size: 12px;
        color: rgba(24, 37, 66, 0.5);
      }
      .edit-button {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        border: 1px solid #e7e7e7;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        padding: 5px;
        background-color: white;
        @include hover-zoom(1.2);
        .edit-icon {
          width: 100%;
          height: 100%;
        }
      }
    }
    .input-wrapper {
      position: relative;
      margin-top: 10px;
      .edit-button {
        display: flex;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border: 1px solid #e7e7e7;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        padding: 5px;
        background-color: white;
        transition: all 0.2s linear;
        &:hover {
          transform: translateY(-50%) scale(1.15);
        }
        .edit-icon {
          width: 100%;
          height: 100%;
        }
      }
    }
    .border-less-input {
      text-align: center;
      margin-top: 15px;
      width: 100%;
      &.item-name {
        font-weight: 700;
        font-size: 28px;
      }
      &.item-desc {
        font-weight: 400;
        font-size: 14px;
      }
    }

    .appiles-to-container {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      .appiles-to-header {
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 15px;
      }
      .applies-to-list {
        display: flex;
        .applies-to-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 15px;
          @include hover-zoom(1.1);
          &.active {
            transform: none;
            .applies-to-icon-container {
              border-color: #383c41;
            }
          }
          .applies-to-icon-container {
            width: 80px;
            height: 80px;
            background-color: white;
            border: 1px solid $border-color;
            padding: 15px;
            display: flex;
            .applies-to-icon {
              width: 100%;
              height: 100%;
            }
          }
          .applies-to-name {
            text-align: center;
            font-size: 11px;
            font-weight: 700;
            margin-top: 5px;
          }
        }
      }
    }
    .comp-items-list-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      margin-bottom: 30px;
      .comp-row {
        display: flex;
      }
      .comp-item-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        .comp-item-title {
          font-weight: 700;
          font-size: 14px;
          margin-bottom: 10px;
        }
        .comp-item-details {
          border: 1px solid $border-color;
          display: flex;
          height: 60px;
          align-items: center;
          padding: 0 15px;
          cursor: pointer;
          .comp-item-icon {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #c4c4c4;
            object-fit: cover;
            margin-right: 10px;
          }
          .comp-item-name {
            font-weight: 700;
            font-size: 12px;
          }
          .comp-clause {
            font-weight: 700;
            font-size: 12px;
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            text-transform: capitalize;
          }
          .comp-item-input {
            font-weight: 700;
            font-size: 12px;
          }
        }
      }
    }
  }
  .action-container {
    display: flex;
    border-top: 1px solid $border-color;
    overflow: hidden;
    .action-item {
      flex: 1;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #383c41;
      background-color: white;
      font-weight: 700;
      font-size: 16px;
      @include hover-zoom(1.05);
      &.primary {
        color: white;
        background-color: #26a69a;
      }
    }
  }
  .comp-selector-wrapper {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 99;
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  .comp-selector-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    .title {
      font-weight: 700;
      font-size: 28px;
    }
    .bread-crumbs-container {
      display: flex;
      .bread-crumb-item {
        margin-right: 5px;
        font-weight: normal;
        display: flex;
        align-items: center;
        .item-name {
          @include hover-zoom(1.05);
        }
        .arrow {
          font-weight: normal;
          transform: none;
          text-decoration: none;
          margin-left: 5px;
        }
        &:last-child {
          .item-name {
            font-weight: 700;
            text-decoration: none;
            text-decoration: underline;
          }
          .arrow {
            display: none;
          }
        }
        &:first-child {
          .arrow {
            display: block;
          }
        }
      }
    }
    .comp-select-items-list-container {
      margin-top: 30px;
      flex-grow: 1;
      height: 0;
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;
      .comptroller-item {
        width: 33.333%;
        height: 200px;
        padding-bottom: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        @include hover-zoom(1.05);
        &.active {
          transform: none;
        }
        .item-value {
          width: 100%;
          flex-grow: 1;
          border: 1px solid $border-color;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-weight: 600;
          font-size: 32px;
        }
        .comptroller-img {
          width: 100%;
          flex-grow: 1;
          object-fit: cover;
          border: 1px solid $border-color;
        }
        .item-name {
          text-align: center;
          font-size: 18px;
          font-weight: 600;
          margin-top: 10px;
        }
        .item-created-by {
          text-align: center;
          font-weight: 300;
          font-size: 12px;
        }
      }
    }
  }

  .comp-block-add {
    color: #383c41;
    padding-top: 30px;
    padding-bottom: 30px;
    .main-title {
      font-weight: 700;
      font-size: 22px;
    }
    .main-sub-title {
      font-weight: 300;
      font-size: 11px;
      margin-bottom: 10px;
    }
    .add-button-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $border-color;
      padding: 20px 20px;
      margin-top: 20px;
      @include hover-zoom(1.05);
      .add-text {
        font-size: 13px;
      }
    }
    .item-form-container {
      display: flex;
      flex-direction: column;
      border: 1px solid $border-color;
      margin-top: 20px;
      &.saved {
        border: none;
        .form-header-container {
          display: none;
        }
        .card-block {
          display: none;
        }
        .comp-law-row {
          margin-top: 0;
          cursor: pointer;
        }
      }
      .form-header-container {
        display: flex;
        align-items: center;
        transition: all 200ms ease-in-out;
        cursor: pointer;
        background-color: #f1f1f1;
        padding: 15px 30px;
        .menu-title {
          font-weight: 700;
          font-size: 16px;
        }
        svg {
          transform: rotate(45deg);
          &:hover {
            transform: rotate(45deg) scale(1.15);
          }
        }
        .expand-icon {
          margin-left: auto;
          margin-right: 20px;
          @include hover-zoom(1.2);
        }
      }
    }
    .comp-law-row {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      .select-comp-law {
        display: flex;
        border: 1px solid $border-color;
        height: 60px;
        align-items: center;
        justify-content: center;
        width: 220px;
        padding: 0 15px;
        cursor: pointer;
        .comp-law-icon {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #c4c4c4;
          object-fit: cover;
          margin-right: 10px;
        }
        .comp-law-name {
          font-weight: 700;
          font-size: 12px;
        }
      }
      .qualification-input-container {
        display: flex;
        flex-grow: 1;
        height: 60px;
        align-items: center;
        border: 1px solid $border-color;
        .qualification-text {
          opacity: 0.4;
          font-size: 13px;
          text-align: center;
          flex: 1;
        }
      }
      .law-input {
        height: 100%;
        text-align: center;
        font-size: 22px;
        width: 100px;
      }
    }
    .input-group {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      .input-group-title {
        font-weight: 600;
        font-size: 12px;
        margin-bottom: 10px;
      }
      .input-box {
        border: 1px solid $border-color;
        height: 50px;
        text-align: center;
        font-size: 14px;
        width: 120px;
      }
    }
    .alt-req-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      border: 1px solid $border-color;
      padding: 12px 15px;
      @include hover-zoom(1.05);
      .title {
        font-weight: 500;
        font-size: 12px;
      }
    }
    .alt-req-form-container {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      border: 1px solid $border-color;
      padding: 15px 15px;
      overflow: hidden;
      &.saved {
        overflow: hidden;
        height: 50px;
      }
      .alt-req-container {
        transform: none;
      }
    }
  }
  .save-button {
    background: #26a69a;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    @include hover-zoom(1.05);
  }
  .radio-button-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .options-container {
      display: flex;
      margin-top: 5px;
      .option-item {
        border: 1px solid $border-color;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        font-size: 14px;
        text-align: center;
        width: 90px;
        @include hover-zoom(1.1);
        &.active {
          background-color: #e7e7e7;
        }
      }
      .optional-input {
        border: 1px solid $border-color;
        height: 45px;
        width: 120px;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}
