.broker-app-cover-wrapper {
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 190px;
  .apps-container {
    display: flex;
    align-items: center;
    color: $primary-color;
    overflow-x: auto;
    padding: 0 30px;
    flex: 1;
    .empty-message {
      text-align: center;
      width: 100%;
      font-weight: 500;
    }
    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }
    .app-item {
      display: flex;
      height: 60px;
      margin-right: 30px;
      cursor: pointer;
      justify-content: center;
      transition: all 200ms ease-in-out;
      align-items: center;
      border: 1px solid $border-color;
      @include hover-zoom(1.05);
      opacity: 0.4;
      padding: 0 25px;
      &:last-child {
      }
      &.skeleton {
        opacity: 1;
      }
      &.active {
        border-color: $primary-color;
        opacity: 1;
      }
      &:last-child {
        margin-right: 40px;
      }
      .app-img {
        width: 22px;
        height: 22px;
        // border-radius: 50%;
      }
      .app-name {
        text-align: center;
        font-size: 0.9rem;
        font-weight: 500;
        margin-top: 0px;
        overflow: hidden;
        white-space: nowrap;
        transition: all 200ms ease-in-out;
        margin-left: 10px;
      }
    }
  }

  .main-nav-wrapper {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    padding-right: 30px;
    padding-left: 30px;
    @include sm {
      flex-direction: column;
    }
    .main-nav {
      list-style: none;
      padding: 0;
      margin: 0;
      transition: all 400ms linear;
      &.menu-closed {
        margin: 0 auto;
        transform: scale(1);
      }
      .main-nav-item {
        color: #010b1e;
        display: inline-block;
        margin-right: 3rem;
        font-size: 1rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        cursor: pointer;
        position: relative;
        transition: all 500ms ease-in-out;
        &.active {
          &::before {
            content: '';
            position: absolute;
            height: 1px;
            border-radius: 4px;
            width: 100%;
            bottom: 0;
            left: 50%;
            background: #ffffff;
            transform: translateX(-50%);
          }
        }
      }
    }
    .share-wrapper {
      display: flex;
      margin-bottom: 10px;
      .share-btn {
        background: linear-gradient(270deg, #ffffff -35.9%, #186ab4 141.3%);
        padding: 8px 35px;
        font-weight: bold;
        border-radius: 20px;
        cursor: pointer;
      }
    }
  }

  .cover-chart-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    .chart-canvas {
      display: flex;
      width: 100%;
      flex: 1;
      .tv-lightweight-charts {
        margin-top: auto;
      }
    }
    .not-supported-mask {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: white;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: #010b1e;
      font-size: 18px;
    }
  }
}
