@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import 'responsive';
@import 'colors';
@import 'mixins';
@import 'mobile-landing.scss';
@import 'app-installer.scss';
@import 'login-page.scss';
@import 'registration.scss';
@import 'app-registration.scss';
@import 'bot';
@import 'bots-transactions';
@import 'bot-action-add';
@import 'bot-fiat-funding';
@import 'licenses-bot';
@import 'modals';
@import 'profile-page.scss';
@import 'side-nav.scss';
@import 'tab-bar.scss';
@import 'layout-with-sidebar.scss';
@import 'chat.scss';
@import 'cover.scss';
@import 'loading.scss';
@import 'landing-page.scss';
@import 'BottomStick.scss';
@import 'NavbarTop.scss';
@import 'products-page.scss';
@import 'endoresment-home.scss';
@import 'comptroller-page.scss';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}

input {
  border: none;
  outline: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
}

.landing-child-component {
  width: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.full-loading-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 99999999;
  .full-loading-logo {
    height: 65px;
    animation: leaves 0.75s infinite alternate;
  }
}

@keyframes leaves {
  0% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
