.landing-wrapper {
  color: $primary-color !important;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0;
  }
  .site-header {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border-color;
    color: $primary-color;
    position: relative;
    height: 90px;
    .menu-icon {
      cursor: pointer;
      width: 24px;
      height: 24px;
      margin: 20px 0;
      margin-left: 50px;
      z-index: 1;
      @include hover-zoom(1.1);
      @include sm {
        margin-left: 30px;
      }
    }
    .app-logo-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 0;
      .broker-logo {
        cursor: pointer;
        height: 35px;
        @include hover-zoom(1.1);
        @include sm {
          height: 30px;
        }
      }
    }
    .header-action-button {
      cursor: pointer;
      background-color: white;
      padding: 5px 50px;
      border-left: 1px solid $border-color;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      &.right-border {
        border-right: 1px solid $border-color;
      }
      @include sm {
        display: none;
      }

      .influence-icon {
        height: 30px;
        @include hover-zoom(1.1);
      }
    }
  }

  .landing-footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    overflow: hidden;
    height: 110px;
    .footer-action {
      height: 110px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid $border-color;
      padding: 0 50px;
      font-weight: 600;
      color: $primary-color;
      font-size: 1.2rem;
      width: 230px;
      text-decoration: none;
      &.right {
        border-right: 1px solid $border-color;
      }
      @include sm {
        height: 70px;
        padding: 0 25px;
        flex: 1;
      }
      @include hover-zoom(1.1);
      .footer-store-icon {
        height: 35px;
        @include sm {
          height: 25px;
        }
      }
    }
  }

  .brands-container {
    width: 100%;
    display: flex;
    border-top: 1px solid $border-color;
    height: 100px;
    align-items: center;
    padding: 0 75px;
    .footer-text-container {
      flex: 1;
      display: flex;
      align-items: center;
    }
    .footer-text {
      font-weight: 500;
      color: $primary-color;
      font-size: 1.2rem;
      margin-right: 20px;
    }
    .dotted-arrow {
      margin-right: 10px;
      width: 15px;
      height: 15px;
      animation: blink 1s linear infinite;
    }
    .footer-action {
      text-decoration: none;
      border: 1px solid #ebebeb;
      height: 50px;
      width: 180px;
      color: $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      margin-left: 20px;
      @include hover-zoom(1.1);
    }
    .brand-item {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid $border-color;
      height: 254px;
      &:last-child {
        border-right: none;
      }
      .brand-image {
        height: 40px;
      }
    }
  }
}

.hero-home {
  width: 100%;
  min-height: calc(100vh - 100px);
  background-image: url('../../assets/HERO-top-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
}
.hero-content {
  /* max-width: 1140px; */
  margin: auto;
}
.hero-headline {
  width: 45%;
}
.hero-headline > h1 {
  font-weight: 600;
}
.hero-subheadline {
  color: $primary-color;
  font-size: 1rem;
  line-height: 2;
  padding: 1.875rem 0;
  max-width: 475px;
}
.hero-bt {
  color: #fff;
  background-color: #08152d;
  border: 1px solid #08152d;
  border-radius: 50px;
  padding: 0.5rem 1rem !important;
}
.social-icon-full {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.social-acc-icon {
  /* background-color: #fff; */
  color: #fff;
  height: 3.5375rem;
  line-height: 3.5375rem;
  width: 3.5375rem;
  border-radius: 50%;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* .social-acc-icon:hover{
    height: 3.9375rem;
    width: 3.9375rem;
} */
.social-acc-icon > i {
  font-size: 1.5rem;
}
.fb-icon {
  background-color: #3b5998;
}
.snap-icon {
  background-color: #fffc00;
}
.tweet-icon {
  background-color: #00b6f1;
}
.insta-icon {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.linkedin-icon {
  background-color: #007bb5;
}
.tiktok-icon {
  background-color: #2d0f1e;
}
.tiktok-icon > img {
  width: 24px;
  height: 24px;
}
.youtube-icon {
  background-color: #cd3930;
}
.twitch-icon {
  background-color: #6e2c92;
}
.fb-icon:hover,
.snap-icon:hover,
.tweet-icon:hover,
.insta-icon:hover,
.linkedin-icon:hover,
.tiktok-icon:hover,
.youtube-icon:hover,
.twitch-icon:hover {
  height: 3.9375rem;
  width: 3.9375rem;
}

.sec-two {
  position: relative;
  margin-top: 2.375rem;
  display: flex;
  align-items: flex-start;
  height: 37.5rem;
  overflow: hidden;
}
.mag-content {
  width: 40%;
  order: 1;
}
.magic-assets {
  width: 60%;
  height: 100%;
  order: 2;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .screenshots-three {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}
.image-wrap-magic {
  position: absolute;
  top: 0;
  margin: 0;
  opacity: 1;
  transition: all 0.75s ease;
  margin-left: -3.125rem;
  box-shadow: -0.1875rem 0.1875rem 0.3125rem rgba(0, 0, 0, 0.3);
  background-color: #fff;
  z-index: 2;
}
.image-wrap-magic:first-child {
  right: 6.875rem;
  width: 21.875rem;
}
.image-wrap-magic:nth-child(2) {
  right: 23.125rem;
  top: auto;
  bottom: 5rem;
}
.image-wrap-magic:nth-child(3) {
  top: auto;
  bottom: 2.5rem;
  right: 10.9375rem;
}

.sec-three {
  position: relative;
  margin-top: 2.375rem;
  display: flex;
  align-items: flex-start;
  height: 37.5rem;
  overflow: hidden;
}
.moments-assets {
  order: 1;
  position: relative;
  width: 60%;
  height: 100%;
  margin: 0 auto;
}
.image-wrap-moments {
  position: absolute;
  margin: 0;
  opacity: 1;
  transition: all 0.75s ease;
  margin-left: -3.125rem;
  box-shadow: -0.1875rem 0.1875rem 0.3125rem rgba(0, 0, 0, 0.3);
  background-color: #fff;
  z-index: 2;
}

.image-wrap-moments:first-child {
  left: 6.875rem;
  width: 21.875rem;
}
.image-wrap-moments:nth-child(2) {
  top: 11.5625rem;
  left: 8.125rem;
}
.image-wrap-moments:nth-child(3) {
  top: 6.875rem;
  left: 19.375rem;
}

.sec-four {
  background: linear-gradient(180deg, #fff 0, #edf2f5 40%);
}
.chat-content {
  width: 50%;
  position: relative;
  z-index: 1;
  font-family: Open Sans;
  margin-left: 4rem;
}
.logos-bottom {
  margin-top: 2.5rem;
  padding: 2.5rem 6.875rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.andr-ios-btn {
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.andr-btn,
.ios-btn {
  border: 1px solid #242424;
  border-radius: 10px;
  min-width: 150px;
  min-height: 43px;
}
.andr-btn {
  margin: 0 5px 0 auto;
}
.ios-btn {
  margin: 0 auto 0 5px;
}
.andr-btn > img {
  width: 19px;
}
.ios-btn > i {
  font-size: 19px;
}

/* @media only screen and (min-width: 1400px){
    .social-icon-full{
        height: 180px;
    }
    .hero-home{
        min-height: calc(100vh - 280px);
    }
} */
@media only screen and (max-width: 991px) {
  .hero-headline {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .hero-headline > h1 {
    font-size: 1.8rem;
  }
  .hero-subheadline {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1300px) and (min-height: 800px) {
  .hero-headline > h1 {
    font-size: 2.8rem;
  }
  .hero-subheadline {
    max-width: 600px;
    font-size: 1.1rem;
  }
  .social-icon-full {
    height: 180px;
  }
  .hero-home {
    min-height: calc(100vh - 200px);
  }
  .social-acc-icon {
    height: 3.5375rem;
    width: 3.5375rem;
  }
}
@media only screen and (max-width: 768px) {
  .desk-only-dis {
    display: none;
  }
  .hero-headline {
    text-align: center;
  }
  .hero-subheadline {
    text-align: center;
    max-width: 375px;
    margin: 0 auto;
  }
  .hero-home {
    background-image: none;
  }
  .social-icon-full {
    overflow: scroll;
  }
  .social-icon-full::-webkit-scrollbar {
    display: none;
  }
  .social-acc-icon {
    margin: 0 20px;
    padding: 22px;
  }
}
@media only screen and (min-width: 769px) {
  .andr-ios-btn {
    display: none;
  }
  .mob-only-dis {
    display: none;
  }
}

.Typist {
  font-weight: 700;
  margin-top: 10px;
  .Cursor {
    display: inline-block;
  }
  .Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
