.nav-full {
  background-color: #fff;
  .nav-bt {
    border: 1px solid $primary-color;
    border-radius: 0;
    padding: 0.5rem 1rem !important;
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0.5rem;
    color: $primary-color;
    &:focus,
    :hover {
      box-shadow: unset;
      color: rgba(0, 0, 0, 0.7);
      border: 1px solid rgba(0, 0, 0, 0.7);
    }
  }
  .links-nav-b {
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0.5rem;
  }
  .drop-nav-tp {
    .dropdown {
      position: inherit;
      padding: 0 1rem;
    }
    .dropdown-menu {
      position: absolute;
      width: 100%;
      border: unset;
      padding: 0 0 1.5rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .dropdown-toggle {
      background-color: transparent;
      border: unset;
      border-radius: unset;
      color: $primary-color;
      font-size: 1rem;
      font-weight: 700;
      padding: 0.5rem;
      &:hover {
        color: rgba(0, 0, 0, 0.7);
      }
      &:focus,
      :active {
        background-color: transparent !important;
        border: unset;
        border-radius: unset;
        box-shadow: unset !important;
        color: rgba(0, 0, 0, 0.7) !important;
      }
    }
    .show {
      & > .btn-primary {
        &.dropdown-toggle {
          background-color: transparent !important;
          color: rgba(0, 0, 0, 0.7) !important;
        }
      }
    }
  }
  .menu-drop-icon {
    height: 3.4375rem;
    width: 3.4375rem;
    background-color: #c5d2e3;
    border-radius: 50%;
    padding: 0.875rem;
    overflow: hidden;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-right: 1rem;
    & > i {
      color: #fff;
      font-size: 1.625rem;
    }
  }
  .drop-menu-w {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .open-mob-menu {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    z-index: 9991;
    animation: openMenu 0.4s ease-out forwards;
    i {
      font-size: 2em;
      color: $primary-color;
      padding: 16px;
      margin-left: 16px;
    }
  }
  .menu-link {
    color: $primary-color;
    font-size: 35px;
    margin-top: 20px;
    cursor: pointer;
  }
  .engapp-brand {
    & > img {
      width: 31px;
      height: 30px;
    }
  }
}

@keyframes openMenu {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@include sm {
  .nav-full {
    border-bottom: 1px solid #d9d9d9;
    .navbar-nav {
      display: none;
    }
    .mob-only-dis {
      display: block;
    }
    .desk-only-dis {
      display: none;
    }
    .engapp-brand > img {
      margin-left: -28px;
    }
    .nav-bt {
      background-color: #242424;
      color: #fff;
      margin-top: 35%;
      border-radius: 10px;
      min-width: 200px;
      font-size: 22px;
    }
    .nav-bt:focus,
    .nav-bt:hover {
      box-shadow: unset;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.7);
      border: 1px solid rgba(0, 0, 0, 0.7);
    }
  }
}

@media only screen and (min-width: 769px) {
  .nav-full {
    .mob-only-dis {
      display: none;
    }
  }
}
