.products-page-wrapper {
  .products-cover-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid $border-color;
    .header-img {
      height: 60px;
    }
    .cover-header {
      font-weight: 600;
      color: $primary-color;
      font-size: 1.2rem;
      margin-top: 20px;
    }
    .brands-carousel {
      width: 100%;
      margin-top: 30px;
      .brand-item-wrapper {
        display: flex !important;
        justify-content: center;
        align-items: center;
        .brand-item-container {
          width: 300px;
          height: 125px;
          display: flex;
          justify-content: center;
          align-items: center;
          .brand-item {
            margin-top: auto;
            width: 250px;
            height: 110px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 100ms linear;
            @include hover-zoom(1.05);
            &.active {
              height: 125px;
              transform: none;
              width: 300px;
            }
            .brand-logo {
              width: 30px;
            }
            .brand-name {
              color: white;
              font-weight: 700;
              margin-left: 10px;
              font-size: 1.1rem;
            }
          }
        }
      }
      .loading-skelton {
        display: flex;
        .brand-skeleton {
          flex: 0 0 300px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 300px;
          height: 110px;
          margin: 0 15px;
          border: 1px solid $border-color;
          .brand-name-skelton {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .frag-tab-container {
    display: flex;
    border-bottom: 2px solid #e5e9f2;
    height: 50px;
    .tab-item {
      height: 50px;
      color: #8391a7;
      font-weight: 300;
      cursor: pointer;
      margin-bottom: -2px;
      font-size: 0.8rem;
      margin-right: 20px;
      min-width: 100px;
      text-align: center;
      transition: all 0.2s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      @include hover-zoom(1.05);
      &.active {
        color: #1c2c40;
        font-weight: 500;
        border-bottom: 2px solid #182542;
        font-size: 0.95rem;
        transform: none;
      }
    }
    .tab-actions-container {
      display: flex;
      margin-left: auto;
      .tab-action {
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid $border-color;
        width: 55px;
        &.close {
          .tab-action-icon {
            height: 18px;
          }
        }
        .tab-action-icon {
          height: 20px;
          @include hover-zoom(1.1);
        }
      }
    }
    .search-input {
      padding: 0 30px;
      font-size: 0.9rem;
      flex: 1;
    }
  }
  .frag-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    .products-frag {
      flex-grow: 1;
      height: 0;
      overflow-y: auto;
      display: flex;
      padding: 40px;
      flex-wrap: wrap;
      .empty-text {
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 1.2rem;
      }
      .product-item {
        display: flex;
        width: 33.333%;
        margin-bottom: 50px;
        align-items: center;
        padding-right: 45px;
        height: 130px;
        &.width-2 {
          width: 50%;
        }
        .app-icon-container {
          border-radius: 6px;
          width: 100px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          .app-icon {
            width: 100%;
            height: 100%;
          }
        }
        .app-details {
          flex: 1;
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          .app-name {
            font-weight: 700;
            font-size: 1.1rem;
          }
          .app-desc {
            font-weight: 300;
            color: rgba(0, 0, 0, 0.47);
            font-size: 0.8rem;
            margin-bottom: 8px;
          }
          .action-container {
            display: flex;
            .action {
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #f1f1f1;
              margin-right: 10px;
              border-radius: 6px;
              font-size: 0.8rem;
              font-weight: 500;
              height: 30px;
              cursor: pointer;
              @include hover-zoom(1.1);
            }
          }
        }
      }
    }
  }
}

.filter-container {
  .filter-item {
    display: flex;
    align-items: center;
    padding: 20px 0;
    cursor: pointer;
    @include hover-zoom(1.05);
    &.active {
      .item-name {
        font-weight: 600;
      }
    }
    .item-icon {
      width: 40px;
      height: 40px;
    }
    .item-name {
      font-weight: 400;
      margin-left: 10px;
      font-size: 1.1rem;
    }
  }
}
