.profile-top-nav {
  padding-left: 0 !important;
  padding-right: 0 !important;
  .menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 200ms ease-in-out;
    flex: 1;
    cursor: pointer;
    &.active {
      font-weight: bold;
      border-bottom: 1px solid #2a2e39;
    }
    .menu-title {
      color: #08152d;
      font-size: 0.9rem;
      text-align: center;
      @include hover-zoom();
    }
  }
  .add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid $border-color;
    padding: 0 20px;
    .add-icon {
      transform: rotate(45deg);
      width: 15px;
      height: 15px;
      cursor: pointer;
      transition: all 200ms ease-in-out;
      &:hover {
        transform: rotate(45deg) scale(1.3);
      }
    }
  }
}
